<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper dark-primary-theme">
			<ul class="left hide-on-large-only">
				<li data-target="links-menu" class="waves-effect waves-light">
					<a data-target="slide-out" class="sidenav-trigger"><i class="mdi mdi-menu"></i></a>
				</li>
			</ul>
			<a class="center hide-on-large-only waves-effect waves-light brand-logo" routerLink="/"
			   (click)="goToElement('#start')">
				<img src="../../../../assets/img/logo.png" alt="Logo" class="logo">
				<span class="title hide-on-med-and-down">{{navigationMessages.start}}</span>
			</a>
			<ul class="left hide-on-med-and-down">
				<li class="waves-effect waves-light">
					<a routerLink="/" (click)="goToElement('#start')">
						<img src="../../../../assets/img/logo.png" alt="Logo" class="logo">
						<span class="title hide-on-med-and-down">{{navigationMessages.start}}</span>
					</a>
				</li>
				<li class="waves-effect waves-light">
					<a (click)="goToElement('#how-to-use')">
						<span class="title hide-on-med-and-down">{{navigationMessages.howToUse}}</span>
					</a>
				</li>
				<li class="waves-effect waves-light">
					<a (click)="goToElement('#packages')">
						<span class="title hide-on-med-and-down">{{navigationMessages.packages}}</span>
					</a>
				</li>
			</ul>
			<ul class="right">
				<li class="waves-effect waves-light">
					<a class="dropdown-trigger" data-target="languages-dropdown">
						<img class="left flag" src="assets/img/flags/{{currentLanguage.abbreviation}}.png"/>
						<i class="mdi mdi-chevron-down right"></i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="dropdowns-container">
	<ul id='languages-dropdown' class='dropdown-content'>
		<li *ngFor="let language of availableLanguages">
			<a (click)="changeLanguage(language.abbreviation)">
				<img class="left flag" src="assets/img/flags/{{language.abbreviation}}.png"/>
				<span class="language-name">{{language.name}}</span>
			</a>
		</li>
	</ul>
</div>

<ul id="slide-out" class="sidenav">
	<li>
		<a class="subheader">
			{{navigationMessages.navigation}}
		</a>
	</li>
	<li>
		<a class="waves-effect" routerLink="/" (click)="goToElement('#start')">
			{{navigationMessages.start}}
		</a>
	</li>
	<li>
		<a class="waves-effect" (click)="goToElement('#buy-one')">
			{{navigationMessages.buyYours}}
		</a>
	</li>
	<li>
		<a class="waves-effect" (click)="goToElement('#how-to-use')">
			{{navigationMessages.howToUse}}
		</a>
	</li>
	<li>
		<a class="waves-effect" (click)="goToElement('#packages')">
			{{navigationMessages.packages}}
		</a>
	</li>
</ul>