@media screen and (max-width: 599px) {
	.logo {
		height: 50px;
		width: 50px;
		margin: 3px 0 3px 0;
	}
}

@media screen and (min-width: 600px) {
	.logo {
		height: 52px;
		width: 52px;
		margin: 6px 0 6px 0;
	}
}

.nav-wrapper, nav {
	transition: all 1s;
}

nav {
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4), 0 3px 15px 0 rgba(0, 0, 0, 0.39);
}

nav ul a {
	display: flex;
	font-family: Brainfish, sans-serif;
	font-size: x-large;
}

.title {
	font-size: xx-large;
	margin-left: 12px;
}

.flag {
	width: 32px;
	height: 21px;
	vertical-align: middle;
	display: inline-block;
	margin: auto;
}

.language-name {
	margin-left: 10px;
}

.navbar-fixed {
	overflow: hidden;
}

.brand-logo {
	height: 100%;
	width: 76px;
}