<div class="col s12">
	<a class="waves-effect waves-light btn-flat" *ngFor="let breadcrumb of breadcrumbs"
	   [routerLink]="[breadcrumb.path]">
		<i class="left mdi mdi-chevron-right"></i>
		{{ breadcrumb.label }}
	</a>
</div>