.landing-header {
	background: url("../../../../assets/img/landing/landing-image.jpg") no-repeat center center fixed;
	background-size: cover;
	box-shadow: 0 0 8px 2px #000000;
	position: relative;
	height: 100vh;
	width: 100vw;
	z-index: 10;
}

.landing-content {
	background: url("../../../../assets/img/landing/background-blue.jpg") no-repeat center center fixed;
	background-size: cover;
}

.header {
	color: #E9E9E9;
	font-family: Brainfish, sans-serif;
}

.header-message {
	text-align: justify;
	font-family: ValeriaBoldGrunge, sans-serif;
	color: #FE107B;
	font-size: 90px;
}

.header-subtext {
	font-family: Brainfish, sans-serif;
	font-size: 28px;
	text-align: justify;
}

@media screen and (max-width: 599px) {
	.header-message {
		font-size: 60px;
	}

	.header-subtext {
		font-size: 22px;
	}
}

.section {
	min-height: calc(80vh - 64px);
	display: block;
}

.card {
	background: url("../../../../assets/img/landing/background-yellow.png") no-repeat;
	background-size: cover;
}

.price-fab {
	width: 86px;
	height: 86px;
	font-size: 20px;
	line-height: 86px;
}

.right-bottom-image {
	position: absolute;
	bottom: -60px;
	right: 0;
	z-index: 3;
}

.right-top-image {
	position: absolute;
	top: -60px;
	right: 0;
	z-index: 3;
}

.corner-image {
	width: 120px;
	height: 120px;
}

@media screen and (max-width: 992px) {
	.right-bottom-image {
		bottom: -30px;
		right: 0;
	}

	.right-top-image {
		top: -30px;
		right: 0;
	}

	.corner-image {
		width: 90px;
		height: 90px;
	}
}

.carousel {
	height: 400px !important;
}

.carousel .indicators {
	top: 0;
}

.carousel .card-image img {
	max-height: 30vh;
	margin: auto;
	width: auto;
}

.carousel-chevron {
	margin-top: 35%;
	line-height: 100px;
	font-size: 100px;
	height: 100px;
	width: 100px;
	color: #00796B;
	box-shadow: none;
}

.carousel-chevron i {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

.frame-border {
	background: #FFFFFF;
	border: 10px solid transparent;
	border-image: url('../../../../assets/img/landing/border.png') 30 round;
}