<div id="start" class="section landing-header">
	<div class="row full-height full-width valign-wrapper hide-on-med-and-down">
		<div class="col s6">
			<div class="container">
				<h1 class="header-message white-text-shadow-background">
					{{landingMessages.welcomeMessage}}
				</h1>
				<div class="card horizontal">
					<div class="card-stacked">
						<div class="card-content">
							<p class="header-subtext">
								{{landingMessages.introductionMessage}}
							</p>
							<img src="../../../../assets/img/landing/child-book.png"
								 class="right-bottom-image corner-image">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col s6">
			<div class="container center">
				<div class="card">
					<div class="card-image">
						<img src="../../../../assets/img/landing/book-front.png">
						<a class="btn-floating price-fab center halfway-fab red">
							{{landingMessages.singlePurchasePrice}}
						</a>
					</div>
					<div class="card-content">
						<p>
							{{landingMessages.singlePurchaseMessage}}
						</p>
					</div>
					<div class="card-action">
						<a (click)="goToElement('#how-to-use')"
						   target="blank" class="btn waves-effect waves-light primary-theme left">
							<i class="mdi mdi-brain"></i>
							{{landingMessages.howToUseButtonMessage}}
						</a>
						<a href="{{landingMessages.singlePurchaseUrl}}"
						   target="blank" class="btn waves-effect waves-light accent-theme right">
							<i class="mdi mdi-cart-outline"></i>
							{{landingMessages.buyButtonMessage}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row full-height full-width valign-wrapper hide-on-large-only">
		<div class="col s12">
			<div class="container">
				<h1 class="header-message white-text-shadow-background">
					{{landingMessages.welcomeMessage}}
				</h1>
			</div>
			<div class="container center">
				<button (click)="goToElement('#buy-one')" class="btn waves-effect waves-light accent-theme">
					<span>{{landingMessages.introductionButtonMessage}}</span>
					<i class="mdi mdi-arrow-down-thick"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="landing-content">
	<div id="buy-one" class="section hide-on-large-only">
		<div class="container">
			<div class="row left-align">
				<h1 class="header left">
					{{landingMessages.buyYoursMessage}}
				</h1>
			</div>
			<div class="row valign-wrapper hide-on-small-and-down">
				<div class="col m5">
					<div class="card horizontal">
						<div class="card-stacked">
							<div class="card-content">
								<p class="header-subtext">
									{{landingMessages.introductionMessage}}
								</p>
								<img src="../../../../assets/img/landing/child-book.png"
									 class="right-bottom-image corner-image">
							</div>
						</div>
					</div>
				</div>
				<div class="col m7">
					<div class="card">
						<div class="card-image">
							<img src="../../../../assets/img/landing/book-front.png">
							<a class="btn-floating price-fab center halfway-fab red">
								{{landingMessages.singlePurchasePrice}}
							</a>
						</div>
						<div class="card-content">
							<div class="row">
								<a (click)="goToElement('#how-to-use')"
								   target="blank" class="btn waves-effect waves-light primary-theme col m12">
									<i class="mdi mdi-brain"></i>
									{{landingMessages.howToUseButtonMessage}}
								</a>
							</div>
							<div class="row">
								<a href="{{landingMessages.singlePurchaseUrl}}"
								   target="blank" class="btn waves-effect waves-light accent-theme col m12">
									<i class="mdi mdi-cart-outline"></i>
									{{landingMessages.buyButtonMessage}}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row valign-wrapper hide-on-med-and-up">
			<div class="col s12">
				<div class="card">
					<div class="card-image">
						<img src="../../../../assets/img/landing/book-front.png">
						<a class="btn-floating price-fab halfway-fab center red">
							{{landingMessages.singlePurchasePrice}}
						</a>
					</div>
					<div class="card-content">
						<div class="row">
							<p class="header-subtext col s12">
								{{landingMessages.introductionMessage}}
							</p>
							<a (click)="goToElement('#how-to-use')"
							   target="blank" class="btn waves-effect waves-light primary-theme col s12">
								<i class="mdi mdi-brain"></i>
								{{landingMessages.howToUseButtonMessage}}
							</a>
						</div>
						<div class="row">
							<a href="{{landingMessages.singlePurchaseUrl}}"
							   target="blank" class="btn waves-effect waves-light accent-theme col s12">
								<i class="mdi mdi-cart-outline"></i>
								{{landingMessages.buyButtonMessage}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="how-to-use" class="section">
		<div class="container hide-on-small-and-down">
			<div class="row left-align">
				<h1 class="header left">
					{{landingMessages.howToUseMessage}}
				</h1>
			</div>
			<div class="row valign-wrapper">
				<div class="col m4">
					<div class="card">
						<div class="card-content">
							<p class="card-title">1</p>
							<p>
								{{landingMessages.howToUseStepOneMessage}}
							</p>
							<img src="../../../../assets/img/landing/child-homework.png"
								 class="right-top-image corner-image">
						</div>
					</div>
				</div>
				<div class="col m4">
					<div class="card">
						<div class="card-content">
							<div class="row">
								<p class="card-title">2</p>
								<p>
									{{landingMessages.howToUseStepTwoMessage}}
								</p>
								<img src="../../../../assets/img/landing/qr-code-example.png"
									 class="right-top-image frame-border corner-image">
							</div>
							<div class="row">
								<a href="{{landingMessages.downloadAppUrl}}"
								   target="blank" class="btn waves-effect waves-light primary-theme col s12">
									<i class="mdi mdi-android"></i>
									{{landingMessages.downloadAppMessage}}
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col m4">
					<div class="card">
						<div class="card-content">
							<p class="card-title">3</p>
							<p>
								{{landingMessages.howToUseStepThreeMessage}}
							</p>
							<img src="../../../../assets/img/landing/child-trophy.png"
								 class="right-top-image corner-image">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container hide-on-med-and-up">
			<div class="row left-align">
				<h3 class="header left">
					{{landingMessages.howToUseMessage}}
				</h3>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="card">
						<div class="card-content">
							<p class="card-title">1</p>
							<p>
								{{landingMessages.howToUseStepOneMessage}}
							</p>
							<img src="../../../../assets/img/landing/child-homework.png"
								 class="right-top-image corner-image">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="card">
						<div class="card-content">
							<div class="row">
								<p class="card-title">2</p>
								<p>
									{{landingMessages.howToUseStepTwoMessage}}
								</p>
								<img src="../../../../assets/img/landing/qr-code-example.png"
									 class="right-top-image frame-border corner-image">
							</div>
							<div class="row">
								<a href="{{landingMessages.downloadAppUrl}}"
								   target="blank" class="btn waves-effect waves-light primary-theme col s12">
									<i class="mdi mdi-android"></i>
									{{landingMessages.downloadAppMessage}}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="card">
						<div class="card-content">
							<p class="card-title">3</p>
							<p>
								{{landingMessages.howToUseStepThreeMessage}}
							</p>
							<img src="../../../../assets/img/landing/child-trophy.png"
								 class="right-top-image corner-image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="packages" class="section">
		<div class="container">
			<div class="row left-align">
				<h1 class="header left">
					{{landingMessages.packagesMessage}}
				</h1>
			</div>
			<div class="row valign-wrapper hide-on-small-and-down">
				<div class="col m4">
					<div class="card">
						<div class="card-image">
							<img src="../../../../assets/img/landing/multiple-book-front.png">
							<a class="btn-floating price-fab center halfway-fab red">
								{{landingMessages.tenItemsPackagePrice}}
							</a>
							<a class="btn-floating center top-fab accent-theme">
								x10
							</a>
						</div>
						<div class="card-content">
							<p>
								{{landingMessages.tenItemsPackageMessage}}
							</p>
						</div>
						<div class="card-action">
							<a href="{{landingMessages.tenItemsPackageUrl}}"
							   target="blank" class="btn waves-effect waves-light accent-theme center col s12">
								<i class="mdi mdi-cart-outline"></i>
								{{landingMessages.buyButtonMessage}}
							</a>
						</div>
					</div>
				</div>
				<div class="col m4">
					<div class="card">
						<div class="card-image">
							<img src="../../../../assets/img/landing/multiple-book-front.png">
							<a class="btn-floating price-fab center halfway-fab red">
								{{landingMessages.twentyItemsPackagePrice}}
							</a>
							<a class="btn-floating center top-fab accent-theme">
								x20
							</a>
						</div>
						<div class="card-content">
							<p>
								{{landingMessages.twentyItemsPackageMessage}}
							</p>
						</div>
						<div class="card-action">
							<a href="{{landingMessages.twentyItemsPackageUrl}}"
							   target="blank" class="btn waves-effect waves-light accent-theme center col s12">
								<i class="mdi mdi-cart-outline"></i>
								{{landingMessages.buyButtonMessage}}
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row hide-on-med-and-up">
				<div class="col s12">
					<div class="card">
						<div class="card-image">
							<img src="../../../../assets/img/landing/multiple-book-front.png">
							<a class="btn-floating price-fab center halfway-fab red">
								{{landingMessages.tenItemsPackagePrice}}
							</a>
							<a class="btn-floating center top-fab accent-theme">
								x10
							</a>
						</div>
						<div class="card-content">
							<p>
								{{landingMessages.tenItemsPackageMessage}}
							</p>
						</div>
						<div class="card-action">
							<a href="{{landingMessages.tenItemsPackageUrl}}"
							   target="blank" class="btn waves-effect waves-light accent-theme center col s12">
								<i class="mdi mdi-cart-outline"></i>
								{{landingMessages.buyButtonMessage}}
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row hide-on-med-and-up">
				<div class="col s12">
					<div class="card">
						<div class="card-image">
							<img src="../../../../assets/img/landing/multiple-book-front.png">
							<a class="btn-floating price-fab center halfway-fab red">
								{{landingMessages.twentyItemsPackagePrice}}
							</a>
							<a class="btn-floating center top-fab accent-theme">
								x20
							</a>
						</div>
						<div class="card-content">
							<p>
								{{landingMessages.twentyItemsPackageMessage}}
							</p>
						</div>
						<div class="card-action">
							<a href="{{landingMessages.twentyItemsPackageUrl}}"
							   target="blank" class="btn waves-effect waves-light accent-theme center col s12">
								<i class="mdi mdi-cart-outline"></i>
								{{landingMessages.buyButtonMessage}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>