@font-face {
	font-family: ValeriaBoldGrunge;
	src: url(fonts/ValeriaBoldGrunge.ttf);
}

@font-face {
	font-family: Bahnschrift;
	src: url(fonts/Bahnschrift.ttf);
}

@font-face {
	font-family: Brainfish;
	src: url(fonts/Brainfish.ttf);
}