@import "fonts.css";

/* Container Themes */

body {
	display: flex;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	flex-direction: column;
	background: #F9F9F9;
	font-family: Bahnschrift, sans-serif;
}

.primary-theme {
	background: #3F51B5 !important;
	color: #FFFFFF;
}

.dark-primary-theme {
	background: #202E8E !important;
	color: #FFFFFF;
}

.light-primary-theme {
	background: #C5CAE9 !important;
	color: #212121;
}

.secondary-theme {
	background: #009688 !important;
	color: #FFFFFF;
}

.dark-secondary-theme {
	background: #00796B !important;
	color: #FFFFFF;
}

.light-secondary-theme {
	background: #B2DFDB !important;
	color: #212121;
}

.accent-theme {
	background: #F0D025 !important;
	color: #000000;
}

.danger-theme {
	background: #990000 !important;
	color: #FFFFFF;
}

.info-theme {
	background-color: #323232 !important;
	color: #F9F9F9;
}

.bottom-shadow {
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4), 0 3px 15px 0 rgba(0, 0, 0, 0.39);
}

/* Text Themes */

.primary-text {
	color: #212121;
}

.secondary-text {
	color: #757575;
}

/* Utility Classes */

.white-text-shadow-background {
	background: rgba(255, 255, 255, 0.1) !important;
	padding: 10px;
	width: fit-content;
	border-radius: 2px;
	margin: auto auto 30px;
}

.black-shadow-background {
	background: rgba(0, 0, 0, 0.05) !important;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.btn i {
	font-size: inherit !important;
}

.top-fab {
	position: absolute;
	right: 24px;
	top: 20px;
}

.carousel .indicators .indicator-item {
	height: 12px;
	width: 12px;
	background: #00796B;
}

.carousel .indicators .indicator-item.active {
	height: 12px;
	width: 12px;
	background: #B2DFDB;
}

/* Grid */

.row .col {
	margin-right: auto;
}

@media only screen and (min-width: 993px) {
	.container {
		width: 85%;
	}
}

/* Perfect Scrollbar Theme */

.ps__rail-y {
	z-index: 9997;
}

.ps__thumb-y {
	border-radius: 2px !important;
}

/* Toast Service Theme */

@media only screen and (max-width: 600px) {
	.close-all-container {
		width: 100%;
	}

	#close-all-button {
		width: 100%;
	}
}

#toast-container {
	z-index: 9998;
}

.close-all-container {
	top: 0;
	width: auto;
	margin-top: 10px;
	position: relative;
	max-width: 100%;
	height: 36px;
	min-height: 36px;
	display: flex;
	z-index: 9999;
}

#close-all-button {
	position: absolute;
	right: 0;
}