.toolbar-wrapper, .toolbar-color-wrapper {
	position: fixed;
	height: 32px;
	width: 100%;
	-webkit-app-region: drag;
	z-index: 10000;
}

.toolbar-wrapper {
	background-color: rgba(0, 0, 0, 0.2);
}

.toolbar-wrapper > a {
	box-shadow: none;
	border-radius: 0;
	background-color: transparent;
	-webkit-app-region: no-drag;
}

.toolbar-wrapper > a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}