<div class="toolbar-color-wrapper dark-primary-theme">
	<div class="toolbar-wrapper">
		<a (click)="closeWindow()" class="btn-small waves-effect right">
			<i class="mdi mdi-close"></i>
		</a>
		<a (click)="maximizeOrRestoreWindow()" class="btn-small waves-effect right">
			<i class="mdi mdi-window-restore"></i>
		</a>
		<a (click)="minimizeWindow()" class="btn-small waves-effect right">
			<i class="mdi mdi-window-minimize"></i>
		</a>
	</div>
</div>