<app-toolbar *ngIf="electronService.isElectronApp"></app-toolbar>
<perfect-scrollbar (psScrollY)="closeDropdownOnScroll()" (psScrollDown)="transmitScrolledDown($event)"
				   (psYReachStart)="transmitScrolledToTop($event)">
	<app-navigation></app-navigation>
	<router-outlet></router-outlet>
	<!-- TODO : Make footer optional, like toolbar -->
	<app-footer></app-footer>
</perfect-scrollbar>