:host {
	display: flex;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	flex-direction: column;
}

router-outlet + ::ng-deep * {
	flex: 1 0 auto;
}

@media screen and (max-width: 599px) {
	router-outlet + ::ng-deep * {
		min-height: calc(100vh - 144px);
	}
}

@media screen and (min-width: 600px) {
	router-outlet + ::ng-deep * {
		min-height: calc(100vh - 160px);
	}
}

perfect-scrollbar {
	max-width: 100vw;
	max-height: 100vh;
}